/* Global styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  /* background-color: #121212; */
  /* overflow: hidden; */
}

/* Container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 50px;
  height: 100%;
  width: 100%;
  background-image: url(./img/about-bg.webp);
  background-size: cover;
  background-position: center;
}

/* Profile Image */
.profile-image {
  z-index: 1;
  margin-top: 100px;
  margin-left: 100px;
}

.profile-image img {
  width: 900px;
  z-index: 99999999;
}

.profile-background {
  margin-bottom: -480px;
  margin-left: 230px;
  width: 500px;
  height: 500px;
  background: #00d4ff;
  border-radius: 25%;
  z-index: -1;
}

.description {
  border-radius: 10px;
  background-color: rgb(255 255 255 / 9%);
  border: 1px solid rgb(255 255 255 / 9%);
  padding: 30px;
  backdrop-filter: blur(6px);
  margin-bottom: 20px;
}

/* Text Content */
.text-content {
  max-width: 600px;
}

.text-content h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #ffffff;
}

.text-content h1 span {
  color: #00d4ff;
}

.text-content p {
  margin: 20px 0;
  color: #cbd5e1;
  font-size: 1rem;
}

/* Badge */
.badge {
  display: inline-block;
  background: #8b5cf6;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

/* Button */
.button {
  display: inline-block;
  background: #1e90ff;
  color: white;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.button:hover {
  background: #0077cc;
}

/* Decorative Elements */
.decorative-elements {
  position: relative;
  margin-top: 20px;
}

.decorative-elements .dot {
  width: 10px;
  height: 10px;
  background: #ffd700;
  border-radius: 50%;
  position: absolute;
}

.decorative-elements .dot:nth-child(1) {
  top: 20px;
  left: 30px;
}

.decorative-elements .dot:nth-child(2) {
  bottom: 25px;
  right: 30px;
}

.decorative-elements .spark {
  font-size: 1.5rem;
  color: #00d4ff;
  position: absolute;
  top: 40px;
  left: 0;
}

.animated-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black; /* Para simular o cursor */
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}

/* Responsive */
@media (max-width: 1800px) {
  .profile-image img {
    width: 700px;
  }
  .profile-background {
    margin-bottom: -370px;
    margin-left: 180px;
    width: 400px;
    height: 400px;
  }
  .profile-image {
    z-index: 1;
    margin-top: 100px;
    margin-left: 0;
  }
}
/* @media (max-width: 768px) {
  .text-content h1 {
    font-size: 2rem;
  }

  .profile-image img {
    width: 200px;
  }

  .profile-background {
    width: 250px;
    height: 250px;
  }
} */
